.svg-demo3-container {
  width: 500px;
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  box-sizing: border-box;
}

.svg-demo3-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
}