.root-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Segoe UI', 'Arial', sans-serif;
  background-color: var(--color-fg);
}

.root-main {
  flex: 1;
  padding: 2rem;
}