/* import des styles du ou des layouts */
@import "./layouts/root/style.css";

/* import des styles des pages */
@import "./pages/svg-demo1/style.css";
@import "./pages/svg-ma-demo/style.css";

/* import des styles des composants UI */
@import "./ui/header/style.css";
@import "./ui/footer/style.css";
@import "./ui/spinner/style.css";
@import "./ui/star/style.css";
@import "./ui/tree-skills/style.css";

:root {
  /* Primitives Tokens */
  --color-neutral-100: #ffffff;
  --color-neutral-900: #000000;
  --color-blue-500: #3b82f6;
  --color-green-500: #10b981;
  --color-red-500: #ef4444;

  /* Semantics Tokens*/
  --color-bg: var(--color-neutral-100);
  --color-fg: var(--color-neutral-900);
  --color-primary: var(--color-blue-500);
  --color-success: var(--color-green-500);
  --color-danger: var(--color-red-500);
  
}

/* Appliquer un fond noir global et couleur de texte lisible */
body {
  background-color: var(--color-bg-main, #000);
  color: var(--color-white, #fff);
  margin: 0;
}
